n8n workflow.json
{
  "name": "Reposo Salon Telegram Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "9bc6ab94-4025-445b-9fcc-f6e4deeff7a8",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        192,
        0
      ],
      "webhookId": "d7256b29-954f-43ae-8aa2-60dfd1ca2c74",
      "credentials": {
        "telegramApi": {
          "id": "Se0zVsv9jf6t2NwO",
          "name": "sim"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "You are the friendly booking assistant for Reposo Salon on Telegram.\n\nSalon Details:\n- Name: Reposo Salon\n- Hours: 10:00 AM – 9:00 PM, Monday through Saturday\n- Closed: Sunday\n\nServices:\n- Haircut (Men): 30 min\n- Haircut (Women): 45 min\n- Hair Coloring: 90 min\n- Hair Styling / Blowout: 45 min\n- Manicure: 30 min\n- Pedicure: 45 min\n- Facial: 60 min\n- Cleanup / Threading: 20 min\n- Head Massage: 30 min\n- Full Body Massage: 60 min\n- Bridal Package: 180 min\n\nYour job:\n1. Greet customers warmly\n2. Help them book appointments — ask for service, preferred date/time, name, and phone number\n3. Use the Google Calendar tool to check availability and create bookings\n4. Help cancel or reschedule existing bookings using the calendar tools\n5. Answer questions about services, hours, and pricing\n\nWhen booking:\n- Always check Google Calendar for conflicts before confirming\n- Create calendar events with title format: \"Service Name - Customer Name\"\n- Put phone number and Telegram username in the event description\n- Make sure the appointment fits within 10AM-9PM and not on Sunday\n- Calculate end time = start time + service duration\n\nWhen cancelling/updating:\n- Ask for their phone number to look up the booking\n- Search calendar events and find the matching one\n- Confirm before deleting or modifying\n\nKeep responses friendly, concise, and use emojis occasionally. Always confirm details before creating/modifying bookings."
        }
      },
      "id": "2e4c9e4c-bc26-4424-9e6c-a241e578bbf0",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        592,
        0
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "id": "d1bf0646-acf9-4ff0-8d12-9d02bb615766",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        704,
        288
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').first().json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "0f761638-63c3-4bba-b15f-a77a7196da2d",
      "name": "Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        0
      ],
      "webhookId": "129da7c9-2527-42e6-8776-d1dcd66a5984",
      "credentials": {
        "telegramApi": {
          "id": "Se0zVsv9jf6t2NwO",
          "name": "sim"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        480,
        272
      ],
      "id": "a28150e6-d002-4039-8172-b6e26b34bbcd",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "6aHAY5ND4vHWOZz6",
          "name": "OpenRouter account avan"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f7f020e8-ff80-44b4-86cd-f8cd6b8014ea",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2c53ffa9173ecf76b35b9bea5d037a670548aace05b04526f78a983ed138cb07"
  },
  "id": "Xtdwq3VAjWcaBnWf",
  "tags": []
}
